.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1007px;
  }
  
  .u-section-1 .u-image-1 {
    width: 461px;
    height: 427px;
    margin: 48px auto 0 281px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin: -8px -22px 0 auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 37px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 158px;
    min-width: 94px;
    margin: 119px auto 0 12px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-4 {
    height: 100%;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 75px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 40px 0;
  }
  
  .u-section-1 .u-text-3 {
    margin-top: 0;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 333px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-form-1 {
    margin: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 868px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      position: relative;
      width: 940px;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 401px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 68px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 302px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 667px;
    }
  
    .u-section-1 .u-image-1 {
      margin-left: 259px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 767px;
    }
  
    .u-section-1 .u-image-1 {
      margin-left: 79px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 655px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 315px;
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 104px;
      width: 340px;
    }
  }